<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>
  <app-navbar></app-navbar>
</header>
<div *ngIf="!authService.LoggedIn" class="userArea">
  <app-landing-page></app-landing-page>
</div>
<div *ngIf="authService.LoggedIn" class="userArea">
  <section class="userBanner">
    <h1>Banner</h1>
    <div class = "header">
      <app-friends></app-friends>
      <app-users></app-users>
    </div>
  </section>
  <section class="parentContainer">
    <app-tools></app-tools>
    <app-garden></app-garden>
    <app-post></app-post>
  </section>
</div>
<footer>
  <p>Site made possible by:JRCD</p>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

