<div class = "postContainer">
    <div class="addPost">
        <button class="open-button" (click)="openForm()">Write</button>

        <div class="chat-popup" id="myForm">
            <form action="" class="form-container">
                <h2>Comment</h2>

                <label for="msg"><b>Message</b></label>
                <textarea placeholder="Type message.." name="msg" id = "text" required></textarea>

                <button type="submit" class="btn" (click) = "submitMessage()">Send</button>
                
                <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
            </form>
        </div>
    </div>
    <div class="displayPosts">
        <p>See All Posts here</p>
    </div>

</div>
