<div class = "postContainer">
    <div class="addPost">
        <button class="open-button" (click)="openForm()">Write</button>

        <div class="chat-popup" id="myForm">
            <form class="form-container">
                <h2>Comment</h2>

                <label for="msg"><b>Message</b></label>
                <textarea placeholder="Type message.." name="msg" id = "text" [formControl] = "comment"></textarea>

                <button type="button" class="btn" (click)="submitMessage()" (click)="closeForm()">Send</button>
                
                <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
            </form>
        </div>
    </div>
    <div class="displayPosts">
        <p>Garden Posts</p>
        <div class = "comment" *ngFor = "let comment of comments">
            <p>{{comment.text}}</p>
        </div>
    </div>
</div>
