<div class="tools">
    <h3>Tools</h3>
    <div class="toolOptionsArea">
        <div class="toolOption">
            <div class="toolOptionHeader">
                <h6>Garden</h6>  
                <button id="GardenButton" class="beginUsingToolButton" (click)="GardenButton()"></button>
            </div>
            <div class="toolOptionBody">
                <p>Choose What To Plant</p>
                <mat-radio-group class="radioButtonArea" [(ngModel)]="gardenRadio" (change)="RadioGardenButton()">
                    <mat-radio-button type="radio" id="daisy" name="plantChoice" value="daisy"></mat-radio-button>
                    <label for="daisy"><img src="../../assets/daisy.png" height="30" width="30"/></label><br>
                    <mat-radio-button type="radio" id="rose" name="plantChoice" value="rose"></mat-radio-button>
                    <label for="rose"><img src="../../assets/rose.png" height="30" width="40"/></label><br>
                    <mat-radio-button type="radio" id="pumpkin" name="plantChoice" value="pumpkin"></mat-radio-button>
                    <label for="pumpkin"><img src="../../assets/pumpkin.png" height="30" width="30"/></label>
                    <mat-radio-button type="radio" id="sunflower" name="plantChoice" value="sunflower"></mat-radio-button>
                    <label for="sunflower"><img src="../../assets/sunflower.png" height="30" width="30"/></label>
                    <mat-radio-button type="radio" id="lemon" name="plantChoice" value="lemon"></mat-radio-button>
                    <label for="lemon"><img src="../../assets/lemon.png" height="30" width="30"/></label>
                </mat-radio-group>
                <p>Select Plot To Plant ---></p>
            </div>
            
        </div>
        <div class="toolOption">
            <div class="toolOptionHeader">
                <h6>Harvest</h6> 
                <button id="HarvestButton" class="beginUsingToolButton" (click)="HarvestButton()"></button> 
            </div>
            <div class="toolOptionBody">
                <p>Select Plot To Harvest ---></p>
            </div>
        </div>
    </div>
</div>
