<div class="tools">
    <h3>Tools</h3>
    <div class="toolOptionsArea">
        <div class="toolOption">
            <div class="toolOptionHeader">
                <h6>Garden</h6>  
                <button id="GardenButton" class="beginUsingToolButton"></button>
            </div>
            <div class="toolOptionBody">
                <p>Choose What To Plant</p>
                <p>Select Plot To Plant ---></p>
            </div>
            
        </div>
        <div class="toolOption">
            <div class="toolOptionHeader">
                <h6>Harvest</h6> 
                <button id="HarvestButton" class="beginUsingToolButton"></button> 
            </div>
            <div class="toolOptionBody">
                <p>Select Plot To Harvest ---></p>
            </div>
        </div>
        <div class="toolOption">
            <div class="toolOptionHeader">
                <h6>Tend</h6> 
                <button id="TendButton" class="beginUsingToolButton"></button> 
            </div>
            <div class="toolOptionBody">
                <p>Select Plot To Tend ---></p>
            </div>
        </div>
    </div>
</div>
