.fill-remaining-space {
    flex: 1 1 auto;
}
.login-form-group {
    display: flex;
}

.logout-form-group {
    display: flex;
}

mat-toolbar {
    height: 100px;
}

mat-form-field {
    font-size: 12pt;
    margin: 2pt 5pt;
}

mat-form-field.mat-form-field-wrapper {
    padding-bottom: 0pt;
}

p.welcome-username {
    text-align: center;
    justify-content: center;
    height: max-content;
    width: max-content;
    margin: 0px 5pt;
    padding: 12pt 0pt;
}

button {
    margin: 2pt 5pt;
    height: 50pt;
    width: 100pt;
}