.userArea{
    height:85%;
}
.header{
    display: flex;
    justify-content: left;
}

app-friends {
    margin: 2pt 5pt;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

app-users {
    margin: 2pt 5pt;
}

.userBanner{
    height:15%;
}
.parentContainer{
    height:80%;
    background-color: blueviolet;
    display:flex;
    justify-content: space-between;
    gap:10pt;
}
app-tools{
    flex:1;
    background-color: aquamarine;
}
app-garden{
    flex:3;
    height:100%;
    background-color: blanchedalmond;
}
app-post{
    flex:1;
    background-color: lightcoral;
    overflow-y: auto;
    overflow-x: hidden;
}

h1 {
    margin: 2pt 10pt;
}