.weatherArea{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
    /* background-image: url("../../../../Assets/WeatherGifs/Rainy.gif"); */
    /* background-image: url("../../../../Assets/WeatherGifs/partlyCloudy.gif"); */
    background-image: url("../../../../Assets/WeatherGifs/sunny.gif");
    background-size: contain;
}

.gardenGridArea{
    height:90%;
    width:90%;
}